@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  body {
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .nav-text {
    @apply lg:text-base text-lg tracking-wide;
  }
  .active {
    @apply text-blue-800 dark:text-blue-500 font-bold;
  }
  .tanya-dokter .tanya-content ul {
    @apply pl-10;
  }
  .tanya-dokter .tanya-content li {
    @apply list-disc;
  }
  .artikel-detail .artikel-content h1 {
    @apply md:text-2xl text-xl font-medium tracking-widest py-4 text-blue-900 dark:text-blue-500;
  }
  .artikel-detail .artikel-content div p {
    @apply py-5;
  }
  .artikel-detail .artikel-content ul {
    @apply pl-10 py-3;
  }
  .artikel-detail .artikel-content li {
    @apply list-disc;
  }
  .avatar a {
    @apply block px-4 py-2 text-sm text-gray-700 hover:bg-blue-100;
  }
  .avatar {
    @apply absolute lg:right-16 lg:top-14 top-56 z-10 lg:ml-0 ml-10 mt-2 w-48 rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none transform ease-out duration-100 opacity-0 scale-95;
  }

  .auth input {
    @apply block w-full px-4 py-2 text-gray-700 bg-white border border-solid border-gray-300 rounded
    duration-300 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .auth .login-button {
    @apply py-3 font-semibold tracking-wide text-xs uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none active:shadow-lg transition duration-150 ease-in-out md:w-full w-3/4 flex justify-start pl-6 items-center mb-3 gap-4 text-left;
  }
  .auth label {
    @apply block text-sm font-medium text-gray-700;
  }
  .auth #kecamatan {
    @apply mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm;
  }
  .biodata {
    @apply mt-5 w-full flex flex-col items-center overflow-hidden text-sm;
  }
  .biodata div {
    @apply w-full border-t border-gray-100 text-gray-600 py-4 pl-6 pr-3 w-full block hover:bg-gray-100 transition duration-150;
  }
  .biodata div span {
    @apply font-bold xs:inline-flex block pt-3 pl-2;
  }
  .biodata .edit div input {
    @apply block w-full px-4 py-2 text-gray-700 bg-white border border-solid border-gray-300 rounded
    duration-300 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .biodata .edit #kecamatan {
    @apply mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm;
  }
  thead tr th {
    @apply px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider;
  }
}
